* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  justify-items: center;
  height: 100vh;
  width: 100%;
}

/* --- Main --- */

.main {
  height: 100%;
  width: 100%;
  align-content: center;
  justify-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  height: 400px;
  width: 400px;
  background-color: rgb(148, 148, 148);
  padding: 10px;
  border-radius: 10px;
}

.main .title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.board * {
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
}

.players {
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
}

.player p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.player {
  display: flex;
  margin-right: 20px;
}

.player1 span {
  color: rgb(236, 24, 24);
}

.player2 span {
  color: rgb(0, 123, 255);
}

.reset {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #494949;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin-top: 25px;
}

.main {
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.X {
  color: rgb(236, 24, 24);
}
.O {
  color: rgb(0, 123, 255);
}

.status {
  margin-top: 20px;
  font-size: 2.5em;
}

/* Add animation to the cells */

.cell:hover {
  background-color: #636363;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

/* Add animation to the reset button */

.reset:hover {
  background-color: #636363;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
