* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  justify-items: center;
  height: 100vh;
  width: 100%;
}

/* --- Start --- */

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.start h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.start form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start form label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.start form input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  width: 200px;
}
.start form button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start {
  display: none;
}

/* --- Main --- */

.main {
  height: 100%;
  width: 100%;
  align-content: center;
  justify-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  height: 400px;
  width: 400px;
  background-color: rgb(148, 148, 148);
  padding: 10px;
  border-radius: 10px;
}

.main h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.board * {
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
}

.players {
  display: flex;
  margin-top: 20px;
}

.player p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.player {
  display: flex;
  margin-right: 20px;
}

.player1 span {
  color: rgb(236, 24, 24);
}

.player2 span {
  color: rgb(0, 123, 255);
}

.restart {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #494949;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin-top: 25px;
  margin-left: 300px;
}

.main {
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.x {
  color: rgb(236, 24, 24);
}
.o {
  color: rgb(0, 123, 255);
}
